@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #373e40;
  background-color: #f8f8ff;
}

.underlined {
  border-bottom: 2px solid #488286;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}