@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-onyx;
  background-color: #f8f8ff;
}

.underlined {
  @apply border-b-2 border-steel-teal;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}